body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: auto;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid red;
    display: inline-block;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: darkgrey;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 10px;
}

.satisfaction-list {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.satisfaction-item {
    padding: 10px;
    border-top: 1px solid #ccc;
    font-size: 1em;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    color: #333;
}

.avg-rating {
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
    color: #333;
}
